In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv("avocado.csv")
data.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [3]:
X = data[['Unnamed: 0','Small Bags','Large Bags','Total Volume','4046','4225','4770','Large Bags','XLarge Bags','year']]
y = data['AveragePrice']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
lm = LinearRegression()

In [6]:
lm.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred = lm.predict(X_test)

In [8]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

       Actual  Predicted
10983    1.82   1.351680
2109     1.18   1.372403
3612     1.24   1.455275
5909     1.50   1.445193
2221     1.33   1.362231
...       ...        ...
1705     1.44   1.352359
15137    2.06   1.443701
4365     1.09   1.586638
5013     1.52   1.432611
12438    1.12   1.379908

[3650 rows x 2 columns]

In [9]:
lm.score(X_test,y_test)

0.07577213522385662

In [10]:
dt_model =  DecisionTreeRegressor(random_state = 10)

In [11]:
dt_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=10)

In [12]:
y_pred = dt_model.predict(X_test)

In [13]:
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df2

       Actual  Predicted
10983    1.82       1.53
2109     1.18       1.26
3612     1.24       1.25
5909     1.50       0.93
2221     1.33       1.23
...       ...        ...
1705     1.44       1.43
15137    2.06       2.03
4365     1.09       1.24
5013     1.52       1.49
12438    1.12       1.95

[3650 rows x 2 columns]

In [14]:
dt_model.score(X_train, y_train)

1.0